version: "3.7"

services:
  print-server:
    image: node:20
    working_dir: /app
    volumes:
      - ./server.js:/app/server.js
      - ./package.json:/app/package.json
    command: bash -c "npm install && node server.js"
    environment:
      PGHOST: postgres
      PGPORT: 5432
      PGUSER: postgres
      PGPASSWORD: Mfcd62!!Mfcd62!!
      PGDATABASE: postgres
      TZ: America/Sao_Paulo
    networks:
      - network_public
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.docker.network=network_public"
        - "traefik.http.routers.print-server.rule=Host(`print.muzai-saas.shop`)"
        - "traefik.http.routers.print-server.entrypoints=websecure"
        - "traefik.http.routers.print-server.tls=true"
        - "traefik.http.routers.print-server.tls.certresolver=letsencryptresolver"
        - "traefik.http.services.print-server.loadbalancer.server.port=3000"

networks:
  network_public:
    external: true
