version: "3.7"

services:
  print-server:
    image: node:20
    working_dir: /app
    volumes:
      - ./server.js:/app/server.js
      - ./package.json:/app/package.json
    command: bash -c "npm install && node server.js"
    environment:
      PGHOST: postgres
      PGPORT: 5432
      PGUSER: postgres
      PGPASSWORD: Mfcd62!!Mfcd62!!
      PGDATABASE: postgres
      TZ: America/Sao_Paulo
    depends_on:
      - postgres
    ports:
      - "3000:3000"
    networks:
      - network_public

  postgres:
    image: astraonline/postgrespgvector:2024
    environment:
      - POSTGRES_PASSWORD=Mfcd62!!Mfcd62!!
      - TZ=America/Sao_Paulo
      - PG_MAX_CONNECTIONS=500
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - network_public

volumes:
  postgres_data:

networks:
  network_public:
    external: true
